@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Proxima Nova";
  src: url(fonts/Metropolis-Black.eot);
}

.header-container {
  background-color: #EEF3F4;
}

.header-container .navbar {
  padding-top: 31px;
}

.header-container .navbar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .navbar .header nav {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-container .navbar .header nav i {
  font-size: 28px;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: #354E57;
}

.header-container .navbar .header nav .logo {
  margin-left: 21px;
  font-size: 33px;
  color: #293D45;
  font-family: Somatic-Rounded, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.header-container .navbar .header nav + div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header-container .navbar .header > div,
.header-container .navbar .header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container .navbar .header .search {
  text-transform: uppercase;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 12px/14px var(--unnamed-font-family-proxima-nova);
  color: var(--oxford-blue-354e57);
}

.header-container .navbar .header .search i {
  margin-right: 14px;
}

.header-container .navbar .header .search a {
  text-decoration: none;
  color: #354E57;
}

.header-container .navbar .page-links-desk,
.header-container .navbar .login {
  display: none;
}

.header-container .navbar .nav-links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 130px 0 102px;
  display: none;
}

.header-container .navbar .nav-links li {
  font: var(--unnamed-font-style-normal) normal medium 16px/20px var(--unnamed-font-family-proxima-nova);
  color: var(--oxford-blue-354e57);
  list-style-type: none;
  margin-bottom: 45px;
}

.header-container .navbar .nav-links li a {
  text-decoration: none;
  color: #354E57;
}

.header-container .navbar .page-links,
.header-container .navbar .page-links-desk {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 12px/14px var(--unnamed-font-family-proxima-nova);
  color: var(--oxford-blue-354e57);
  margin-bottom: 54px;
  text-transform: uppercase;
  padding: 0;
  display: none;
}

.header-container .navbar .page-links li,
.header-container .navbar .page-links-desk li {
  margin-bottom: 30px;
  list-style-type: none;
}

.header-container .navbar .page-links li a,
.header-container .navbar .page-links-desk li a {
  text-decoration: none;
  color: #354E57;
}

@media (min-width: 1024px) {
  .header-container .navbar {
    padding-top: 44px;
  }
  .header-container .navbar .hamburger {
    display: none;
  }
  .header-container .navbar .page-links {
    display: none;
  }
  .header-container .navbar .page-links-desk,
  .header-container .navbar .login {
    display: block;
  }
  .header-container .navbar .header .page-links-desk {
    font-size: 12px;
    margin-bottom: 0;
  }
  .header-container .navbar .header .page-links-desk li {
    list-style: outside none none;
    display: inline-block;
    margin: 0 47px 0 0;
  }
  .header-container .navbar .header nav .logo {
    margin: 0;
    font-size: 32px;
    margin-left: 362px;
    letter-spacing: 1.6px;
  }
  .header-container .navbar .header .search {
    font-size: 12px;
  }
  .header-container .navbar .header .search i {
    margin-right: 39px;
  }
  .header-container .navbar .header .search .login {
    margin-left: 46px;
  }
  .header-container .navbar .nav-links {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 25px 0 0 0;
    text-align: center;
  }
  .header-container .navbar .nav-links li {
    margin: 0 32px;
    list-style: outside none none;
    display: inline-block;
    font-size: 16px;
  }
}
/*# sourceMappingURL=header.css.map */